<div class="container">


<ul class="post-list">

  <%= for p <- posts do %>
  <li><span class="post-date"><%= p[:date] %></span>
    <h3>
      <a class="post-title" href="<%= p[:url] %>">
        <%= p[:title] %>
      </a>
    </h3>
    <p class="abstract">
      <%= p[:abstract] %>
    </p>
  </li>


<% end %>
</ul>
</div>
